@import url('https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&family=Koulen&family=Roboto:wght@100&display=swap');
#home{
	animation-duration:8s;
	animation-delay: 2.0s;
	animation-name: flash;
	opacity: 1;
}
@keyframes flash{
	0%{background-color:purple;}
	1%{background-color:white;}
	2%{background-color:purple;}
	3%{background-color:white;}
	4%{background-color:purple;}
	5%{background-color:white;}
	6%{background-color:purple;}
	7%{background-color:white;}
	8%{background-color:purple;}
	9%{background-color:white;}
	10%{background-color:purple;}
	11%{background-color:white;}
	12%{background-color:purple;}
	13%{background-color:white;}
	14%{background-color:purple;}
	15%{background-color:white;}
	20%{background-color:purple;}
	25%{background-color:white;}
	30%{background-color:purple;}
	35%{background-color:white;}
	55%{background-color: purple;}
	60%{background-color: white;}
	65%{background-color:purple;}
	70%{background-color: white;}
	71%{background-color:purple;}
	72%{background-color:white;}
	73%{background-color:purple;}
	74%{background-color:white;}
	75%{background-color:purple;}
	76%{background-color:white;}
	77%{background-color:purple;}
	78%{background-color:white;}
	79%{background-color:purple;}
	80%{background-color:white;}
	82%{background-color:purple;}
	84%{background-color:white;}
	86%{background-color:purple;}
	88%{background-color:white;}
	90%{background-color:purple;}
	92%{background-color:white;}
	94%{background-color:purple;}
	96%{background-color:white;}
	98%{background-color:purple;}
	100%{background-color:white;}
}

	@keyframes opacity{
		0%{opacity: 0;}
		50%{opacity: 0.5;}
		100%{opacity: 1;}
}#home .body h1{
	animation-fill-mode: forwards;
	animation-name: opacity;
	animation-delay: 6s;
	animation-duration: 4s;
	opacity: 0;
	font-size: 150px;
	margin: 50px;
	margin-left: 200px;}
